/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

.cmws-settings-page {
}

.cmws-like ul li {
	display: inline;
	text-align: center;
	padding: 2px ;
	margin: 0;
}

.cmws-header {
}

.cmws-info {
    color: #5bc0de;
}

.cmws-success {
    color: #5bc592;
}

.cmws-warning {
    color: #f89406;
}

.cmws-danger {
    color: #ee5f5b;
}

.cmws-label {
        border-radius: 0.25em;
        color: #fff;
        display: inline;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        padding: 0.3em 0.6em 0.3em;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
}

.cmws-label-info {
    background-color: #5bc0de;
}

.cmws-label-success {
    background-color: #5bc592;
}

.cmws-label-warning {
    background-color: #f89406;
}

.cmws-label-danger {
    background-color: #ee5f5b;
}

.cmws-logo {
        background-image: url('../../assets/logo-full.png');
        background-size: 180px;
        width: 180px;
        height: 100px;
        display: inline;
}

.cmws-panel {
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        font-family: "Bree Serif","Times New Roman",Times,serif;
        margin-bottom: 20px;
}

.cmws-panel-body {
    padding: 18px;
}

.cmws-panel-heading {
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 10px 15px;
}

.cmws-pull-right {
        float: right !important;
}

.cmws-widget-height {
    height: 60px;
}

.cmws-footer {
	margin: 20px 0px;
	padding: 0px;
	text-align: center;
}

.cmws-author { 
	width: 40%;
	margin: 0px auto;
	text-align: center;
	padding: 15px;
}

.cmws-text-center {
    text-align: center;
}

.cmws-table {
        width: 100%;
}

.cmws-row {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
}

.cmws-column {
        float: left;
        padding-left: 0;
        padding-right: 0;
}

.cmws-column-2 {
        width: 20%;
}

.cmws-column-3 {
        width: 25%;
}

.cmws-column-6 {
        width: 50%;
}

.cmws-column-9 {
        width: 75%;
}

.cmws-column-12 {
        width: 100%;
}

.cmws-cell {
        float: left;
        width: 100%;
        min-height: 1px;
        padding-left: 7px;
        padding-right: 7px;
        position: relative;
        box-sizing: border-box;
}

.cmws-flag {
	width: 16px;
	height: 11px;
	margin-right: 10px;
	background-image: url('../../assets/flags.png');
	background-repeat: no-repeat;
	border-radius: 0 !important;
}

.cmws-flag.cmws-flag-ca {background-position: -16px 0;}
.cmws-flag.cmws-flag-de {background-position: -32px 0;}
.cmws-flag.cmws-flag-fr {background-position: 0 -11px;}
.cmws-flag.cmws-flag-uk {background-position: -16px -11px;}
.cmws-flag.cmws-flag-ne {background-position: -32px -11px;}
.cmws-flag.cmws-flag-us {background-position: 0 -22px;}

.cmws-widget-font {
        font-size: 15px;
        line-height: 15px;
        font-family: Roboto,Helvetica,Arial,sans-serif;
}

.cmws-widget-font-x2 {
    font-size: 30px;
    line-height: 30px;
}

.cmws-widget-font-x3 {
    font-size: 45px;
    line-height: 45px;
}

.cmws-list-group {
        margin-bottom: 20px;
        padding-left: 0;
}

.cmws-list-group-item {
        border: 1px solid;
        display: block;
        margin-bottom: -1px;
        padding: 10px 15px;
        position: relative;
}

.cmws-list-group-item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

.cmws-list-group-item:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom: 0;
}

.cmws-font {
        font-family: Roboto,Helvetica,Arial,sans-serif;
}

.cmws-font-alt {
        font-family: "Bree Serif","Times New Roman",Times,serif;
}

.cmws-table {
	width: 100%;
	margin-bottom: 0;
}

.cmws-table>thead>tr>th, .cmws-table>tbody>tr>th, .cmws-table>tfoot>tr>th, .cmws-table>thead>tr>td, .cmws-table>tbody>tr>td, .tcmws-able>tfoot>tr>td {
	padding: 8px;
	line-height: 1.4;
	vertical-align: top;
}

/* Check my Website Classic Style */

.check-my-website-classic {
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.3;
}

.check-my-website-classic .cmws-color {
        border-color: rgba(0, 0, 0, 0);
}

.check-my-website-classic .cmws-color-alt {
        border-color: rgba(0, 0, 0, 0);
}

.check-my-website-classic .cmws-panel {
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
        font-family: "Bree Serif","Times New Roman",Times,serif;
        margin-bottom: 20px;
}

.check-my-website-classic .cmws-panel-default > .cmws-panel-heading {
        border-color: rgba(0, 0, 0, 0);
}

/* Check my Website Dark Style */

.check-my-website-dark {
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.3;
}

.check-my-website-dark .cmws-panel-body a {
	color: #c8c8c8;
}

.check-my-website-dark .cmws-panel-body a:hover {
        color: #fff;
}

.check-my-website-dark .cmws-color {
        background-color: #3a3f44;
	border-color: rgba(0, 0, 0, 0.6);
        color: #f2f2f2;
}

.check-my-website-dark .cmws-color-alt {
        background-color: #3e444c;
	border-color: rgba(0, 0, 0, 0.6);
        color: #f2f2f2;
}

.check-my-website-dark .cmws-panel-default > .cmws-panel-heading {
        border-color: rgba(0, 0, 0, 0.6);
}

.check-my-website-dark table {
        background-color: #2e3338;
	border-collapse: collapse;
        border-spacing: 0;
}

.check-my-website-dark .cmws-table-striped>tbody>tr:nth-child(odd)>td, .check-my-website-dark .cmws-table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #353a41;
}

/* Check my Website Light Style */

.check-my-website-light {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
        line-height: 1.3;
}

.check-my-website-light .cmws-color {
        background-color: #e6e6e6;
	border-color: rgba(0, 0, 0, 0.2);
        color: #585858;
}

.check-my-website-light .cmws-color-alt {
        background-color: #f2f2f2;
	border-color: rgba(0, 0, 0, 0.2);
        color: #585858;
}

.check-my-website-light .cmws-panel-default > .cmws-panel-heading {
	border-color: rgba(0, 0, 0, 0.2);
}

.check-my-website-light table {
        background-color: #d3d3d3;
        border-collapse: collapse;
        border-spacing: 0;
}

.check-my-website-light .cmws-table-striped>tbody>tr:nth-child(odd)>td, .check-my-website-light .cmws-table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #e0e0e0;
}
