.checkmyws-settings-page {
}

.checkmyws-settings-title {
}

.checkmyws-settings-icon {
	background-image: url('../images/checkmyws-icon.png');
	background-size: 32px;
	width: 32px;
	height: 32px;
	display: inline;
}

.checkmyws-widget-full {
	background-color: #000;
}
